/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

$sidebar-width: 480px;
$drawer-width: 600px;

$black: rgb(0, 0, 0);
$gray1: rgb(50, 44, 43);
$gray2: rgb(75, 75, 75);
$gray3: rgb(95, 95, 95);
$gray4: rgb(230, 230, 230);
$red: rgb(255, 65, 25);
$white: rgb(255, 255, 255);

* {
	box-sizing: border-box;
}

@mixin ptsans-regular() {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

@mixin ptsans-bold() {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

html {
	background-color: $black;
	@include ptsans-regular();
	color: $white;
}

#sidebar, #drawer {
	padding: 10px;
	position: fixed;
	top: 0;
	height: 100%;
	width: $sidebar-width;
	z-index: 400;
	background: $gray1;
}

#sidebar {
	left: 0;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: rgba(0, 0, 0, 0);
	@include transition-property(left, border-right-color, border-right-style);
	@include transition-duration(1s);
	@include transition-timing-function(ease-in-out);
}

#drawer {
	left: $sidebar-width - $drawer-width;
	@include transition-property(left);
	@include transition-duration(1s);
	@include transition-timing-function(ease-in-out);
	&.show {
		left: $sidebar-width;
		+ #sidebar {
			border-right-color: $red;
		}
	}
}

#result {
	padding: 10px;
}

body {
	margin-left: $sidebar-width;
}

label {
	display: block;
	margin: 5px 0px;
}

label.image {
	display: inline-block;
	input[type=radio] {
		display: none;
		~ img.thumb {
			box-sizing: content-box;
			max-width: 120px;
			max-height: 120px;
			border: 3px solid transparent;
		}
		&:checked ~ img.thumb {
			border: 3px solid $red;
		}
	}
}

.message {
	background-color: $gray2;
	border: 3px solid transparent;
	margin: 5px 0;
	padding: 5px;
	&.success {
		border-color: green;
	}
	&.error {
		border-color: $red;
	}
}

.thumb {
	display: inline-block;
	max-width: 150px;
	max-height: 150px;
	margin: 5px;
}

.close {
	display: block;
	position: absolute;
	left: calc(100% - 20px);
	top: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}