/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 35, ../sass/screen.scss */
html {
  background-color: black;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: white;
}

/* line 41, ../sass/screen.scss */
#sidebar, #drawer {
  padding: 10px;
  position: fixed;
  top: 0;
  height: 100%;
  width: 480px;
  z-index: 400;
  background: #322c2b;
}

/* line 51, ../sass/screen.scss */
#sidebar {
  left: 0;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, 0);
  -webkit-transition-property: left, border-right-color, border-right-style;
  -moz-transition-property: left, border-right-color, border-right-style;
  -o-transition-property: left, border-right-color, border-right-style;
  transition-property: left, border-right-color, border-right-style;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 61, ../sass/screen.scss */
#drawer {
  left: -120px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 66, ../sass/screen.scss */
#drawer.show {
  left: 480px;
}
/* line 68, ../sass/screen.scss */
#drawer.show + #sidebar {
  border-right-color: #ff4119;
}

/* line 74, ../sass/screen.scss */
body {
  margin-left: 480px;
}

/* line 78, ../sass/screen.scss */
label {
  display: block;
  margin: 5px 0px;
}

/* line 83, ../sass/screen.scss */
label.image {
  display: inline-block;
}
/* line 85, ../sass/screen.scss */
label.image input[type=radio] {
  display: none;
}
/* line 87, ../sass/screen.scss */
label.image input[type=radio] ~ img.thumb {
  box-sizing: content-box;
  max-width: 120px;
  max-height: 120px;
  border: 3px solid transparent;
}
/* line 93, ../sass/screen.scss */
label.image input[type=radio]:checked ~ img.thumb {
  border: 3px solid #ff4119;
}
