<form id="metadata">
	<label>
		<input type="file" onchange="angular.element(this).scope().selectedFilesChanged(this)" multiple>
		<button ng-click="addFiles(selectedFiles)">Upload</button>
	</label>
	<label class="image" ng-repeat="img in doc.images">
		<input type="radio" ng-model="doc.mainImage" name="mainImage" value="{{img.id}}">
		<img ng-src="/bucket/{{img.id}}.thumb.png" class="thumb">
		<div ng-click="remove(img.id)" class="delbutton">&times</div>
	</label>
	<div ng-show="unprocessedFiles.length > 0">
		Uploading {{unprocessedFiles.length}} images...
	</div>
	<label>
		<input type="checkbox" ng-model="doc.visible">
		Publicly visible
	</label>
    <label ng-repeat="metafield in metafields">
        <input ng-if="metafield.type == 'text'" type="text" ng-model="doc.metadata[metafield.name]" placeholder="{{ metafield.placeholder }}">
        <input ng-if="metafield.type == 'number'" type="number" ng-model="doc.metadata[metafield.name]" placeholder="{{ metafield.placeholder }}" min="{{ metafield.minimum }}" step="{{ metafield.step }}">
    </label>
	<!-- <label>
		<input type="text" ng-model="doc.metadata.country" placeholder="Country">
	</label>
	<label>
		<input type="number" ng-model="doc.metadata.width" placeholder="Width" min="0.0" step="0.1">
	</label>
	<label>
		<input type="number" ng-model="doc.metadata.height" placeholder="Height" min="0.0" step="0.1">
	</label>
	<label>
		<input type="number" ng-model="doc.metadata.depth" placeholder="Depth" min="0.0" step="0.1">
	</label> -->
	<div>
		<button ng-click="save(doc)">Save</button>
	</div>
	<div ng-show="msg.text" ng-class="msg.type" class="message">
		{{msg.text}}
	</div>
</form>
