<!doctype html>
<html ng-app="matchbox_app">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
  </head>
  <body ng-controller="ButtonsCtrl">
    <div class="search_container">1</div>
    <div class="result_container">2</div>
    <div class="details_container">3</div>

    <!--<div class="result_container" >
      <div class="search_container"></div>
    
      <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="openDetails()">
        Test Image
      </button>
    <div ng-class="{ details_container : true, slideIn : false, slideOut : false}">test</div> 
    </div>
    
    <! - -<div class='slideIn'>test</div>-->


  </body>
</html>
