.search_container{
    position: fixed; 
    width: 200px; 
    height: 100%; 
    top: 0px;
    background: #ccc; 
}
.result_container{
    position:fixed; 
    left:200px; 
    background:#ccf;
    height: 100%; 
}
.details_container{
    position: fixed; 
    top: 0; 
    right:0px; 
    height: 100%;
    width: 100px; 
    background: #ccc;

    transition: transform 1s ease-in-out 0s;
}


.slideIn{
    transform:  translate(100px,0) ;   
}

.slideOut{    
    transform:  translate(0px,0) ;
}

