<form id="upload">
	<label>
		<input type="file" onchange="angular.element(this).scope().selectedFilesChanged(this)" multiple>
		<button ng-click="addFiles(selectedFiles)">Upload</button>
	</label>
	<label class="image" ng-repeat="img in doc.images">
		<input type="radio" ng-model="doc.mainImage" name="mainImage" value="	{{img.id}}">
		<img ng-src="/bucket/{{img.id}}" class="thumb">
	</label>
	<div ng-show="unprocessedFiles">
		Uploading {{unprocessedFiles.length}} images...
	</div>
	<label>
		<input type="checkbox" ng-model="doc.public">
		Publicly visible
	</label>
	<label>
		<input type="text" ng-model="doc.metadata.country" placeholder="Country">
	</label>
	<div>
		<button ng-click="save(doc)">Save</button>
	</div>
	<div ng-show="msg.text" ng-class="msg.type" class="message">
		{{msg.text}}
	</div>
</form>