<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/style.css">
        <title>Striking Matchbox Archive</title>
    </head>
    <body ng-controller="searchctrl">
        <div id="drawer">
            <a class="close" ng-click="closeDrawer()">&times;</a>
            <div ng-view>
            </div>
        </div>
        <div id="sidebar">
            <label ng-show="isLoggedIn()">
                <input type="checkbox" ng-model="queryData.showHidden">Show hidden
            </label>
            <div ng-repeat="metafield in metafields" ng-class="['search', metafield.type, metafield.name]">
                <select ng-if="metafield.type == 'text'" ui-select2="{ allowClear: true }" data-placeholder="{{ metafield.placeholder }}" ng-model="queryData[metafield.name]">
                    <option></option>
                    <option ng-repeat="option in optionsCache[metafield.name].values" value="{{ option }}">{{ option }}</option>
                </select>
                <div ng-if="metafield.type == 'range'">
                  <div slider start="{{ metafield.minimum }}" end="{{ metafield.maximum }}" ng-from="queryData['min_'+metafield.name]" ng-to="queryData['max_'+metafield.name]" step="{{ metafield.step }}"></div>
                  <label>{{ queryData['min_'+metafield.name] }}-{{ queryData['max_'+metafield.name] }}</label>
                </div>
                <div ng-if="metafield.type == 'feature'">
                  {{ metafield.title }}
                  <label ng-repeat="feature in metafield.features">
                    <input type="radio" name="{{ metafield.name }}" value="{{ feature }}">
                    <span data-feature="{{ feature }}" data-index="{{ $index }}"></span>
                  </label>
                </div>
            </div>
            <button ng-click="newSearch()">Search</button>
        </div>
        <div id="result">
            <img class="thumb" ng-repeat="result in results" ng-src="/bucket/{{result.mainImage}}.thumb.png" ng-click="showDetails(result.id)" ng-class="{transparent : !result.visible}">
            <img class="thumb load-trigger" src="http://placehold.it/250x250&text=Loading..." ng-show="hasMore">
            <img class="thumb" src="http://placehold.it/250x250&text=New" ng-show="isLoggedIn()" ng-click="newMatchbox()">
        </div>

        <script src="/js/main.js"></script>
        <script>angular.bootstrap(document, ['matchboxarchive']);</script>
    </body>
</html>
